


<!--      MODULO MODIFICA/CANCELLA CLIENTI-->

<h1 class="h3 mb-4 text-gray-800">Registra un nuovo cliente</h1>

<!-- FORM REGISTRA CLIENTI -->
<form method="POST" action="client" enctype="multipart/form-data">
  <div class="row">
    <div class="col">
      <input type="text" name="firstName" class="form-control" placeholder="Nome" required />
    </div>
    <div class="col">
      <input type="text" name="lastName" class="form-control" placeholder="Cognome" />
    </div>
  </div>
  <br />
  <div class="form-group">
    <input type="text" name="fiscalCode" placeholder="Codice Fiscale" class="form-control"
      pattern="^[a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z]$" />
  </div>
  <div class="form-group">
    <input type="text" name="address" placeholder="Indirizzo" class="form-control" />
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" name="city" placeholder="Città" class="form-control"  />
    </div>
    <div class="form-group col-md-4">
      <select name="state" class="form-control">
        <option selected>Stato...</option>
        <option value="italy">Italia</option>
        <option value="europe">Europa</option>
        <option value="foreign">Estero</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <input type="text" name="zipCode" placeholder="CAP" class="form-control"  />
    </div>
    <div class="form-group col-md-6">
      <input type="email" name="email" placeholder="Email" class="form-control"  />
    </div>
    <div class="form-group col-md-6"> 
      <input type="number" name="phone" placeholder="Telefono" class="form-control" />
    </div>
    <input type="file" name="files" multiple/>

    <!--
      <form action="/test" method="POST" enctype="multipart/form-data">
        <button type="submit" value="Submit"class="btn btn-success">Test</button>
      </form>
    -->


    <button type="submit" value="Submit"class="btn btn-primary">Registra</button>
  </div>
</form>
<br>
<br>
<br>


