
<h1 class="h3 mb-4 text-gray-800">Registra un nuovo lavoro</h1>
<p>Cliente: <%= fiscalCode %> </p>
<!--   -->
<!-- FORM REGISTRA LAVORO -->
<form method="POST" action="">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" name="title" placeholder="Nome lavoro" class="form-control" required />
    </div>
    <div class="form-group col-md-4">
      <select name="folder" class="form-control">
        <option selected>Cartella...</option>
        <option value="PROGETTI">PROGETTI</option>
        <option value="DOCFA">DOCFA</option>
        <option value="PREGEO">PREGEO</option>
        <option value="VARIE">VARIE</option>
        <option value="">...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <input type="number" name="nFolder" placeholder="N°" class="form-control" required />
    </div>
    <div class="form-group col-md-8">
      <textarea name="comments" placeholder="Spazio per i commenti" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group col-md-2">
      <select name="status" class="form-control">
        <option selected>Stato lavoro...</option>
        <option value="Concluso">Concluso</option>
        <option value="Incompleto">Incompleto</option>
        <option value="Revisionare">Revisionare</option>
        <option value="">...</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <input type="text" name="titleFile" class="form-control mb-2" placeholder="Titolo allegato">
      <input type="file" name="linkFile" class="form-control-file">
    </div>
  </div>
  <button type="submit" value="Submit"class="btn btn-success">Salva</button>
</form>
<br>
<br>
<br>


