<h1 class="h3 mb-4 text-gray-800">Aggiungi link</h1>

<!--   -->
<!-- FORM REGISTRA LAVORO -->
<form action="">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        type="text"
        name="title"
        placeholder="Titolo "
        class="form-control"
        pattern="[A-Za-z0-9\s]{1,20}"
        required
      />
    </div>
    <div class="form-group col-md-10">
      <input 
      type="url"  
      name="link"
      pattern="https?://.+" 
      title="http://"
      placeholder="Incolla il link qui..."
      maxlength="100"
      class="form-control"
      required
      />
    </div>
  </div>
  <a href="/links">
    <button type="button" class="btn btn-success">Salva</button>
  </a>
</form>
<br />
<br />
<br />
