<style>
  form input:invalid {
    border-color: red;
  }
</style>
<h1 class="h3 mb-4 text-gray-800">Registra un nuovo lavoro</h1>
<p>Cliente: <%= fiscalCode %></p>
<!--   -->
<!-- FORM REGISTRA LAVORO -->
<form method="POST" action="">
  <div class="form-row">
    <div class="form-group col-md-6">
      <input
        type="text"
        name="title"
        placeholder="Nome lavoro"
        class="form-control"
        pattern="[A-Za-z0-9\s]{1,20}[A-Za-z0-9-]{1,20}"
        required
      />
    </div>
    <div class="form-group col-md-4">
      <select name="folder" class="form-control" required>
        <option selected>Cartella...</option>
        <option value="PROGETTI">PROGETTI</option>
        <option value="DOCFA">DOCFA</option>
        <option value="PREGEO">PREGEO</option>
        <option value="SUCCESSIONI">SUCCESSIONI</option>
        <option value="PERIZIE GIURATE">PERIZIE GIURATE</option>
        <option value="APE">APE</option>
        <option value="VARIE">VARIE</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <input
        type="number"
        name="nFolder"
        placeholder="N°"
        class="form-control"
        pattern="[0-9\s]{3,10}[0-9\s]{3,10}"
        required
      />
    </div>
    <div class="form-group col-md-8">
      <textarea
        name="comments"
        placeholder="Spazio per i commenti"
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
        pattern="[A-Za-z0-9\s-_.]"
        maxlength="200"
      ></textarea>
    </div>
    <div class="form-group col-md-4">
      <select name="status" class="form-control" aria-placeholder="Stato Attuale" required>
        <option value="In corso">In corso</option>
        <option value="In attesa di pagamento">In attesa di pagamento</option>
        <option value="Sospeso">Sospeso</option>
        <option value="Concluso">Concluso</option>
      </select>
    </div>
  </div>
  <button type="submit" value="Submit" class="btn btn-success">Salva</button>
</form>
<br />
<br />
<br />
