<!-- form ricerca cliente -->
<h1 class="h3 mb-2 text-gray-800">
  Siti utili
  <span>
    <a type="button" class="btn btn-sm btn-success float-right" href="/new-link">
      Inserisci nuovo
    </a>  
  </span>
</h1>

<br>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Database</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><strong>Nome</strong></th>
            <th><strong>Link</strong></th>
            <th></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><strong>Nome</strong></th>
            <th><strong>Link</strong></th>
            <th></th>
          </tr>
        </tfoot>
        <tbody>
          <!-- LIST CLIENT FROM DB-->
          <% links.forEach(link => { 
            if (!link.title) {} else { %>
          <tr>
            <td>
              <strong>
                <%= link.title %>
              </strong>
            </td>
            <td>
              <a  target="__blank" href="<%= link.link %>">
                <%= link.link %>
              </a>
            </td>
            <td>
              <form action ="unlink-<%= link.id %>" method="POST" id="btnDelete">
                <button type="submit" class="btn btn-sm btn-danger" value="Submit">
                  <span class="icon text-white-50"><i class="fas fa-trash"></i></span>
                </button>
              </form>
              <% } %> 
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>

