<style>
    #visualizza_cliente_ricercato {
      display: none;
    }
  </style>
  
<!-- form ricerca cliente -->
<h1 class="h3 mb-2 text-gray-800">Lista Clienti</h1>
<p>Elenco completo dei clienti registrati</p>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Database</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Profilo</th>
            <th>Telefono</th>
            <th>Pratiche</th>
            <th>Email</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Cliente</th>
            <th>Profilo</th>
            <th>Telefono</th>
            <th>Pratiche</th>
            <th>Email</th>
          </tr>
        </tfoot>
        <tbody>
          <!-- LIST CLIENT FROM DB--> 
            <% clientList.forEach(client => { %>
            <tr>
              <td><%= client.profile.firstName + " " + client.profile.lastName %></td>
              <td><a href="">Mostra</a></td>
              <td><%= client.contacts.phone %></td>
              <td><a href=""> Mostra</a></td>
              <td><%= client.contacts.email %></td>
            </tr>
            <% }) %> 
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>