<!-- form ricerca cliente -->
<h1 class="h3 mb-2 text-gray-800"> Elenco Lavori</h1>
<p>MARIO ROSSI
  <span>
    <a type="button" class="btn btn-sm btn-success float-right" href="/new-work">
      Inserisci nuovo 
    </a>  
  </span>
</p>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Database</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th><strong>Titolo</strong></th>
            <th><strong>Cartella</strong></th>
            <th><strong>Allegati</strong></th>
            <th><strong>Stato</strong></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th><strong>Titolo</strong></th>
            <th><strong>Cartella</strong></th>
            <th><strong>Allegati</strong></th>
            <th><strong>Stato</strong></th>
          </tr>
        </tfoot>
        <tbody>
          <!-- LIST CLIENT FROM DB--> 
            <tr>
              <td> 
                <a href="/edit-work">
                  <button class="btn btn-sm btn-light" data-toggle="tooltip" data-placement="top" title="commento">
                    Primo lavoro
                  </button>
                </a>
              </td>
              <td> 
                <label class="mr-2">
                  VARIE
                </label>
                <label class="">
                  N°: 
                </label>
              </td>
              <td>
                <a href="/work-show-upload">
                  <img width="30rem" height="40rem" src="img/clientFile.svg">
                </a>
              </td>
              <td> In corso </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>