<!-- form ricerca cliente -->
<h1 class="h3 mb-2 text-gray-800">Lista Lavori</h1>
<p>Elenco completo</p>
<br>
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Database</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Lavoro</th>
            <th>Cartella</th>
            <th>N°</th>
            <th>Titolare</th>
            <th>Documenti</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Lavoro</th>
            <th>Cartella</th>
            <th>N°</th>
            <th>Titolare</th>
            <th>Documenti</th>
          </tr>
        </tfoot>
        <tbody>
          <!-- LIST CLIENT FROM DB--> 
            <% clientList.forEach(client => { %>
            <tr>
              <td> </td>
              <td>   </td>
              <td>  </td>
              <td>  </td>
              <td><a href="#"></a></td>
            </tr>
            <% }) %> 
        </tbody>
      </table>
    </div>
  </div>
</div>

</div>