


<!--      MODULO MODIFICA CLIENTI-->
<h1 class="h3 text-gray-800"> Inserisci allegati</h1> 
<small class=" mb-4"> Allegati riferiti al cliente: X </small>
<hr>
<br>

<!-- UPLOAD FORM -->
<form action="" enctype="multipart/form-data">
  <input type="file" name="file" />
  <a href="/work-show-upload">
    <button type="button" class="btn btn-primary" >Avanti</button>
  </a>
  <p>
    <small class=" mb-4"> max 100MB</small>
  </p>
</form>
<br>
<br>
<a type="button" href="/_" class="btn btn-sm btn-secondary">
  Salta per adesso
<a >
<br>


