


<!--      MODULO MODIFICA CLIENTI-->
<h1 class="h3 text-gray-800"> Inserisci allegati</h1> 
<small class=" mb-4"> X </small>
<hr>
<br>

<!-- UPLOAD FORM -->
<form action="" enctype="multipart/form-data">
  <input type="file" name="file" />
  <a href="/work-show-upload">
    <button type="button" class="btn btn-primary" >Avanti</button>
  </a>
</form>
<br>
<br>
<br>


