


<!--      MODULO MODIFICA CLIENTI-->
<h1 class="h3 mb-4 text-gray-800"> Allegati </h1>

<!-- UPLOAD FORM -->
<form method="POST" action="test" enctype="multipart/form-data">
  <input type="file" name="files" multiple/>
  <button type="submit" value="Submit"class="btn btn-primary">Avanti</button>
</form>
<br>
<br>
<br>


