


<!--      MODULO MODIFICA CLIENTI-->
<h1 class="h3 text-gray-800"> Inserisci allegati</h1> 
<small class=" mb-4">Allegati riferiti al cliente: <%= code %></small>
<hr>
<br>

<!-- UPLOAD FORM -->
<form method="POST" action="upload_<%= code %>" enctype="multipart/form-data">
  <input type="file" name="files" multiple/>
  <button type="submit" value="Submit"class="btn btn-primary">Avanti</button>
</form>
<br>
<br>
<br>


