


<!--      MODULO MODIFICA CLIENTI-->
<h1 class="h3 text-gray-800"> Inserisci allegati</h1> 
<% if (code) { %>
  <small class=" mb-4">Allegati riferiti al cliente: <%= code %> </small>
<% } %>
<hr>
<br>

<!-- UPLOAD FORM -->
<form method="POST" action="upload_<%= code %>" enctype="multipart/form-data">
  <input type="file" name="files" multiple />
  <button type="submit" value="Submit"class="btn btn-primary">Carica</button>
  <p>
    <small class=" mb-4"> max 100MB</small>
  </p>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>
<br>
<br>
  <a type="button" href="/clients" class="btn btn-sm btn-secondary">
    Salta per adesso
  <a >
<br>


