<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Error 404</title>

    <!-- HEAD LOADER -->
  <%- include('../partials/head') %>

  </head>
  
  <!-- BODY -->
  <div class="container-fluid mt-4"> 
     <!-- 404 Error Text -->
     <div class="text-center">
      <div class="error mx-auto" data-text="404">404</div>
      <p class="lead text-gray-800 mb-5">Ops... Pagina non trovata</p>
      <p class="text-gray-500 mb-0">Ti sei perso?</p>
      <a href="/">&larr; Torna alla base </a>
    </div>
  </div>
  
  </body>
</html>



