<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <!-- HEAD LOADER -->
    <%- include('../partials/head') %>

    <title>Registrati</title>
  </head>

  <body class="bg-gradient-primary">
    <div class="container p-4">
      <div class="card o-hidden border-0 shadow-lg my-5 col-lg-10 mx-auto">
        <div class="card-body p-0 mx-auto">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-12">
              <div class="p-5">
                <div class="text-center">
                  <% if (redMsg) { %>
                  <div class="alert alert-danger" role="alert" id="msg">
                    <%= text %>
                  </div>
                  <% } %>

                  <h1 class="h4 text-gray-900 mb-4">
                    Crea un account amministratore
                  </h1>
           
                </div>
                <form class="user" method="POST" action="register" id="regForm">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control form-control-user"
                      name="username"
                      placeholder="Utente *"
                      pattern="[A-Za-z0-9-_+]{3,20}"
                      value=""
                      required
                    />
                  </div>
                  
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 mb-sm-0">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        name="password"
                        placeholder="Password *"
                        pattern="[A-Za-z0-9-_+]{6,20}"
                        value=""
                        required
                      />
                    </div>
                    <div class="col-sm-6">
                      <input
                        type="password"
                        class="form-control form-control-user"
                        name="password2"
                        placeholder="Ripeti Password *"
                        pattern="[A-Za-z0-9-_+]{6,20}"
                        value=""
                        required
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control form-control-user"
                      name="mail"
                      placeholder="Indirizzo email *"
                      value=""
                      required
                    />
                  </div>
                  <div class="form-group">
                    <button
                    type="submit"
                    value="Submit"
                    class="btn btn-primary btn-user col-sm-8"
                  >
                    Registrati
                  </button>
                  <button 
                  class="btn btn-info btn-user col-sm-3 " 
                  type="button" 
                  id="dropdownMenu2" 
                  data-target="#staticBackdrop"
                  data-toggle="modal" 
                  aria-haspopup="true" 
                  aria-expanded="false"
                  >
                    Help
                  <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="bi bi-info-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
                    <circle cx="8" cy="4.5" r="1"/>
                  </svg>                    
                  </button>
                  <!-- Modal -->
                  <div class="modal fade " id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">
                            Registrazione guidata
                          </h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>
                            Caratteri speciali consentiti: - _  
                          </p>
                          <ul>
                            <li>
                              Utente: almeno 3 caratteri 
                            </li>
                            <li>
                              Password: almeno 6 caratteri
                            </li>
                            <li>
                              Email: serve per il recupero                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-info" data-dismiss="modal">
                            Ho capito
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
  
                <hr />
                <div class="text-center">
                  <a class="small" href="/forgot"
                    >Hai dimenticato la password?</a
                  >
                </div>
                <div class="text-center">
                  <a class="small" href="/login">Hai già un account?</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Custom scripts -->
  </body>
</html>
